@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --color1: #253D5B;
  --color2: #ffffff;
  --color3: #C6878F;
  --color4: #67697C;
}

/* Aplicando um reset básico */
html {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, pre, blockquote,figure,
hr {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: var(--color1);
    color:  var(--color2);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cabecalho {
    min-height: 30px;
}
.cabecalho__links {
    display: flex;
    gap: 1.25rem;
    margin: 2% 0% 0 10%;
    text-transform: uppercase;
}
.cabecalho__links__link {
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color3);
    transition: 0.4s;
}
.cabecalho__links__link:hover {
    color: var(--color4);
}
.principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10%;
    gap: 50px;
}
.principal__secao {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.principal__div {
    display: flex;
    justify-content: center;
}
.principal__secao__about {
  width: 500px;
}
.principal__titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.principal__destaque {
    color: var(--color3);
}
.principal__paragrafo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.principal__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;            
    gap: 30px;
    margin-bottom: 30px;
}
.principal__links__subtitulo {
    font-weight: 600;
}
.principal__links__link {
    border: 2px solid var(--color3);
    color: var(--color2);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    transition: 0.4s;
}
.principal__links__link:hover {
    background-color: var(--color4);
}
.principal__img {
    border: 2px solid var(--color3);
    border-radius: 10px;
    width: 50%;
}
.rodape {
    padding: 30px;
    font-weight: 300;
    font-size: 0.75rem;
    text-align: center;
    background-color: var(--color4);
    border-top: 2px solid var(--color3);
}

@media (max-width: 480px) {
    .cabecalho  {
        padding-top: 10%;        
    }
    .cabecalho__links {
        margin: 0%;
        justify-content: center;
    }
    .principal {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 
    }
    .principal__secao {
        width: auto;
        padding: 5%;
    }
    .principal__div {
        width: 100%;
    }
}